a.nav-link:hover{
    color: #000000;
}
.banner{
    background-image: url(images/hero-bg.png);
}
.bg-color{
    background-color: blue;
    color: white;
}
.features-card{
    border: 1px solid gainsboro;
    text-align: center;
    margin: 0px 1px;
    height: 170px;
}
.bg-footer{
    background-color: #000000;
    color: white;
}